@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --grey: #2a2829;
  --green: #045338;
  --red: #ca1c1c;
  --white: #ffffff;
  --black: #000000;
}

body, html, #root {
  margin: 0;
  padding: 0;
  font-family: 'roboto', sans-serif;
  background-color: var(--grey);
  color: var(--white);
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  display: flex;
  align-items: center;
  gap: 40px;
  background-color: var(--green);
  padding: 30px 30px 10px 30px;
  height: 100px;
  border-bottom: 2px solid var(--white);
}

.header h1 {
  font-size: 2.5rem;
  margin: 0;
  color: var(--white);
}

.logo {
  height: 120px;
}

.main {
  flex: 1;
  padding: 40px 200px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.upload-section {
  background-color: var(--white);
  color: var(--black);
  padding: 20px;
  border-radius: 6px
}

.upload-section h2 {
  margin-top: 0;
}

.upload-section button {
  background-color: var(--green);
  color: var(--white);
  border: none;
  padding: 10px 45px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.upload-section button:hover {
  opacity: 0.9;
}

.error-popup {
  background: var(--red);
  color: var(--white);
  padding: 12px 18px;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.error-popup button {
  background: transparent;
  border: none;
  color: var(--white);
  font-size: 1rem;
  cursor: pointer;
}

.invoice-feed {
  background-color: var(--green);
  width: 100%;
  margin-bottom: 0;
  border-radius: 6px;
  padding-bottom: 20px;
}

.invoice-feed h2 {
  margin: 20px;
}

.invoice-feed p {
  margin: 20px;
}

.invoice-header-row {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  padding: 0 50px;
  margin: 0 20px 10px 20px;
  color: var(--white);
  font-weight: 600;
  font-size: 0.95rem;
}

.invoice-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 12px;
  padding: 0;
  margin: 0;
}

.invoice-row {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
  background: var(--white);
  color: var(--black);
  padding: 12px 30px;
  border-radius: 8px;
  width: 91%;
}

.invoice-row span {
  font-size: 0.95rem;
}

.download-section {
  background-color: var(--white);
  color: var(--black);
  padding: 20px;
  border-radius: 6px
}

.download-section h2 {
  margin-top: 0;
}

.download-section button {
  background-color: var(--green);
  color: var(--white);
  border: none;
  padding: 10px 30px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.download-section button:hover {
  opacity: 0.9;
}

.footer {
  background-color: var(--green);
  color: var(--white);
  text-align: center;
  padding: 15px;
  font-size: 0.9rem;
  border-top: 2px solid var(--white);;
}